Net8andVueTs/Net8andVueTs.Server/obj/Net8andVueTs.Server.csproj.nuget.dgspec.json
Net8andVueTs/Net8andVueTs.Server/obj/Net8andVueTs.Server.csproj.nuget.g.props
Net8andVueTs/Net8andVueTs.Server/obj/Net8andVueTs.Server.csproj.nuget.g.targets
Net8andVueTs/Net8andVueTs.Server/obj/project.assets.json
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/Net8andV.FBCA907B.Up2Date
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/Net8andVueTs.Server.AssemblyInfo.cs
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/Net8andVueTs.Server.csproj.BuildWithSkipAnalyzers
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/Net8andVueTs.Server.csproj.FileListAbsolute.txt
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/Net8andVueTs.Server.GeneratedMSBuildEditorConfig.editorconfig
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/Net8andVueTs.Server.GlobalUsings.g.cs
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/Net8andVueTs.Server.MvcApplicationPartsAssemblyInfo.cs
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/spa.proxy.json
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/staticwebassets.build.json
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/staticwebassets/msbuild.build.Net8andVueTs.Server.props
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Net8andVueTs.Server.props
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Net8andVueTs.Server.props
Net8andVueTs/Net8andVueTs.Server/bin/Debug/net8.0/appsettings.Development.json
Net8andVueTs/Net8andVueTs.Server/bin/Debug/net8.0/appsettings.json
Net8andVueTs/Net8andVueTs.Server/bin/Debug/net8.0/Net8andVueTs.Server.deps.json
Net8andVueTs/Net8andVueTs.Server/bin/Debug/net8.0/Net8andVueTs.Server.runtimeconfig.json
Net8andVueTs/Net8andVueTs.Server/bin/Debug/net8.0/spa.proxy.json
Net8andVueTs/.vs/Net8andVueTs/config/applicationhost.config
Net8andVueTs/.vs/Net8andVueTs/DesignTimeBuild/.dtbcache.v2
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/059b58c7-f59a-494e-80d3-e0b21e077fcb.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/7fb71616-6eed-4432-819f-75af41d0173c.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/860fd39d-2470-4ca3-a3c6-5362eafc11f0.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/a2b273b1-8445-4d6c-9caf-e0b47cd2eeb1.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/d663b859-1a5d-47ec-bcfc-385fba425be1.vsidx
Net8andVueTs/.vs/Net8andVueTs/v17/.futdcache.v2
Net8andVueTs/.vs/Net8andVueTs/v17/DocumentLayout.backup.json
Net8andVueTs/.vs/Net8andVueTs/v17/DocumentLayout.json
Net8andVueTs/.vs/ProjectEvaluation/net8andvuets.metadata.v9.bin
Net8andVueTs/.vs/ProjectEvaluation/net8andvuets.projects.v9.bin
Net8andVueTs/.vs/ProjectEvaluation/net8andvuets.strings.v9.bin
Net8andVueTs/net8andvuets.client/obj/Debug/net8andvuets.client.esproj.FileListAbsolute.txt
Net8andVueTs/net8andvuets.client/obj/Debug/package.g.props
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/05d9389d-f58c-4d83-be4b-2e37b05378d3.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/08635cff-6d7f-4314-b79b-91eb6ca89e81.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/25f5a692-70a4-4261-a8bb-3799d1a483b6.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/3275f9c6-39a2-4c77-b437-6e1fe6bf62ec.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/c48e4abb-3c4f-4fae-9724-d0d32bd1f5fa.vsidx
Net8andVueTs/Net8andVueTs.Server/obj/Debug/net8.0/Net8andVueTs.Server.sourcelink.json
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/6fbbfb53-c0fa-41b6-b275-f382a47decca.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/cbd092f5-af09-45e5-98ce-ef2781799341.vsidx
Net8andVueTs/.vs/Net8andVueTs/FileContentIndex/e92ea164-b7b7-4d1e-be3d-4b8461e0bb79.vsidx
